<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esame2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AttivitaFormActivity"
            android:parentActivityName=".AttivitaListaActivity"
            ></activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".AttivitaListaActivity"
            android:label="@string/title_activity_attivita_lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".UtenteListaActivity"
            android:name=".UtenteFormActivity" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".UtenteListaActivity"
            android:label="@string/title_activity_utente_lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>